/* Components */
@import "components/status-bar.css";
@import "components/navigation-bar.css";
@import "components/screen-header.css";
@import "components/main-screen.css";
@import "components/user-components.css";
@import "components/icon-row.css";
@import "components/badge.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "reset.css";

#no-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: xx-large;
}

#no-mobile span {
  color: white;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.5);
  }
}

#no-mobile img {
  color: #004098;
  animation: spin 5s linear infinite;
}

.divider {
  width: 1px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 650px) {
  #no-mobile {
    display: none;
  }
}
