.settings-notices {
  margin: 30px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.settings-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.settings-column i {
  width: 50px;
  height: 50px;
  text-align: center;
}

.settings-column span {
  font-size: 22px;
  margin-left: 20px;
}
