.icon-box {
  margin-top: 25px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-row i {
  margin-bottom: 10px;
}

.icon-row i + span {
  width: 80px;
  text-align: center;
  margin-bottom: 25px;
}
