#screen-header {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
  margin-left: 15px;
}

.screen-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right : 15px;
}

.screen-header__column {
  position: relative;
}

#screen-header div i {
  margin-left: 25px;
}

#alt-screen-header{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alt-screen__column {
  width: 33%;
  font-size : 28px;
  font-weight: 600;
}

.alt-screen__column:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  margin-left: 15px;
}

.alt-screen__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-screen__column:last-child {
    display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.alt-screen__column:last-child i {
margin-left: 25px;
}

@keyframes cogRotation {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }  
}

#screen-header .fa-cog:hover {
  animation: cogRotation 1s linear infinite; 
}