.user-components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

.user-components__img {
  width: 65px;
  height: 65px;
  border-radius: 25px;
}

.user-components__name {
  font-size: 15px;
  font-weight: 600;
}

.user-channel {
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

.user-channel__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-channel__img div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.user-channel__img div:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.user-channel__img div:last-child span {
  margin-right: 5px;
}

.user-channel__img img {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  margin-right: 10px;
}

.user-components__text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.user-components__title {
  margin: 8px 0px;
  font-size: 20px;
  font-weight: 600;
}

.user-components__subtitle {
  color: rgba(0, 0, 0, 0.4);
}

.user-components__subtitle i{
  margin-left: 5px;
  color: tomato;
}

.user-components__img {
  margin-right: 10px;
}

.user-components__time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-components__time span {
  padding: 10px 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}